{{ extends 'global/Page.html' }}
{{ block title }}Instructions{{ endblock }}

{{ block content }}

<style>
    .p1  {color: blue; font-weight:bold;}
    .p2  {color: orange; font-weight:bold;}  
    .p1.col {margin-right: 20px;}
    .p2.col {margin-right: -20px;}
    .otree-title {font-size: 2em;}
    h2 {font-size: 1.5em;}

    .highlight1 { background-color: rgb(160, 182, 243) !important; }
    .highlight2 { background-color: rgb(243, 214, 160) !important; }
    .highlightcell { border-style: solid ; border-width: thick !important; }
    .result_payoff {font-size: x-large;}
    .forgone {font-size: larger; color: rgb(63, 63, 219); font-style: italic; text-decoration: line-through;}
    .forgone_text {color: rgb(63, 63, 219); font-style: italic;}
    .opponent_payoff {font-size: smaller;}
    .opacity {opacity: 0;}
</style>

{{ if is_random_matching}}
    <p>
        In this study, you will play the same game for a predetermined yet unknown number of rounds. In each round, you will be randomly and anonymously paired with another participant. You will not be paired with the same participant in consecutive rounds.
    </p>
{{ else }}
    <p>
        In this study, you will play the same game, each time with a different player, for {{C.ROUNDS_PER_SUPERGAME}} rounds. Spesifically, in each game, you will be randomly and anonymously paired with another participant in this experiment. You will remain paired with the same participant for all {{C.ROUNDS_PER_SUPERGAME}} rounds of the game, and will then switch to play the next game with a different participant. You will not be paired with the same participant in more than one game.
    </p> 
{{ endif }}

<h2>
    Actions and Points
</h2>
<p>
    In each round, both you and the other player (the person you will be paired with) will have to make a choice between two options. <span class="p1">You</span> will choose between playing <b>UP</b> or <b>DOWN</b> while the <span class="p2">other player</span> will choose between playing LEFT or RIGHT. You will make your choices simultaneously and privately. Your choices will jointly determine both your payoffs in points.
    {{ if is_EV_display }}
        For each possible combination, the payoff shown is an expected value. This means that while the exact payoff may vary in any given round, the amount shown is the average you can expect over infinitely many rounds. Details about these expected payoffs are provided in the following table, with your expected payoffs marked in <span class="p1">blue</span> and the other player’s expected payoffs marked in <span class="p2">orange</span>:
    {{ elif is_description}}
        Information about these payoffs are detailed in the following table, with your payoffs marked in <span class="p1">blue</span> and the other player’s payoffs marked in <span class="p2">orange</span>:
    {{ endif }} 
</p>

<!-- payoffs table -->
<div class="form-group required">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr class="p2">
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">Other player</th>
        </tr>
        <tr class="p2">
            <th>LEFT</th>
            <th>RIGHT</th>
        </tr>
        <tr>
            <th rowspan="2" class="p1"><span>You</span></th>
            <td><button name="intro_butt" class="btn btn-primary btn-large" disabled>UP</button> <br>(After the introduction, you will be able to press this button)</td>
            <td><div class="p1 col">{{ t_left.CC}}</div> <br><div class="p2 col">{{t_right.CC}}</div></td>
            <td><div class="p1 col">{{ t_left.CD }}</div> <br> <div class="p2 col">{{t_right.CD}}</div></td>
        </tr>
        <tr>
            <td><button name="intro_butt" class="btn btn-primary btn-large" disabled>DOWN</button> <br>(After the introduction, you will be able to press this button)</td>
            <td><div class="p1 col">{{t_left.DC}}</div> <br> <div class="p2 col">{{ t_right.DC }}</div></td>
            <td><div class="p1 col">{{t_left.DD}}</div> <br> <div class="p2 col">{{t_right.DD}}</div></td>
        </tr>
    </table>
</div>
{{ if is_EV_display }}
    <p><b>The payoff table shown above will be displayed on the screen for the entire duration of the game.</b></p>
    <p>The table displays the expected payoffs for each combination of choices made by you and the other player.
    </p>
        <p>
            This shows:
            <ul>
                <li>If you choose UP and the other player chooses LEFT, <span class="p1">you</span> will <span class="p1">{{ desc_player.CC }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.CC }}</span>.</li><br>
                <li> If you choose UP and the other player chooses RIGHT, <span class="p1">you</span> will <span class="p1">{{ desc_player.CD }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.CD }}</span>.</li><br> 
                <li> If you choose DOWN and the other player chooses LEFT, <span class="p1">you</span> will <span class="p1">{{ desc_player.DC }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.DC }}</span>.</li><br> 
                <li> If you choose DOWN and the other player chooses RIGHT, <span class="p1">you</span> will <span class="p1">{{ desc_player.DD }}</span>.<br> The <span class="p2">other player</span> will <span class="p2">{{ desc_other.DD }}</span>.</li>
            </ul>
    <p>
        Reminder: <b>“In expectation”</b> refers to the average payoff you would receive if the same situation were repeated infinitely many times.
        However, the actual realized payoff may vary due to a random process (which is independent of the decisions made by the players). For example, a payoff of 10 points in expectation could mean receiving 40 points 25% of the time and 0 points 75% of the time.
    </p>
{{ elif is_description}} <!-- explain table content-->
<p><b>The payoff table shown above will be displayed on the screen for the entire duration of the game.</b></p>
    <p>
        This shows:
        <ul>
            <li>If you choose UP and the other player chooses LEFT, <span class="p1">you</span> will <span class="p1">{{ desc_player.CC }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.CC }}</span>.</li><br>
            <li> If you choose UP and the other player chooses RIGHT, <span class="p1">you</span> will <span class="p1">{{ desc_player.CD }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.CD }}</span>.</li><br> 
            <li> If you choose DOWN and the other player chooses LEFT, <span class="p1">you</span> will <span class="p1">{{ desc_player.DC }}</span>.<br>The <span class="p2">other player</span> will <span class="p2">{{ desc_other.DC }}</span>.</li><br> 
            <li> If you choose DOWN and the other player chooses RIGHT, <span class="p1">you</span> will <span class="p1">{{ desc_player.DD }}</span>.<br> The <span class="p2">other player</span> will <span class="p2">{{ desc_other.DD }}</span>.</li>
        </ul>
        
        {{ if is_description }}
        <br><b>Note on the random process:</b>
        The payoffs you and the other player receive are determined by the same hidden randomly generated number, so they are partially correlated. For example, when you choose {{if is_UPbutton_cooperation}}DOWN{{else}}UP{{endif}} and the other player chooses LEFT, either both of you will receive the payoffs listed first in the {{if is_UPbutton_cooperation}}bottom{{else}}top{{endif}} left cell (0 and 30), or both of you will receive the payoffs listed second in that cell (300 and -270), depending on the outcome of the random draw. Each round, there will be a new random draw.
        {{ endif }}
        
    </p>
{{endif}} 
<h2> Game Scores</h2>
<p>
    After both you and the other player have chosen your actions, your score will be displayed in the appropriate table cell.
    {{ if not is_description }} The score will depend on your actions and a bit of randomness. Neither you nor the other participants know the exact scoring distribution, but you can learn it as you gain experience in the game.
    {{endif}}
</p>
<h4>Example for game score</h4>
<p>
    For example, assuming you chose <span class="p1">DOWN</span>, and the other player chose <span class="p2">LEFT</span>, this is how you will see the results on the table:
</p>
<!-- results payoffs table -->
<div class="form-group required hidden_info card mb-2 card-body bg-light">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr class="p2">
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">Other player</th>
        </tr>
        <tr class="p2">
            <th class="highlight2">LEFT</th>
            <th>RIGHT</th>
        </tr>
        <tr>
            <th rowspan="2" class="p1"><span>You</span></th>
            <td><button name="intro_butt" class="btn btn-primary btn-large" disabled>UP</button></td>
            <td><div class="p1 col forgone">{{example_forgone_score_p1}} </div><br><div class="p2 col result_payoff opacity">text to fill space</div></td>
            <td><div class="p1 col"> </div> <br> <div class="p2 col"> </div></td>
        </tr>
        <tr>
            <td class="highlight1"><button name="intro_butt" class="btn btn-primary btn-large" disabled>DOWN</button></td>
            <td class="highlightcell"><div class="p1 col result_payoff">{{example_score_p1}}</div> <br> <div class="p2 col opponent_payoff">{{example_score_p2}}</div></td>
            <td><div class="p1 col opacity"> text to fill space</div><br> <div class="p2 col"> </div></td>
        </tr>
    </table>
</div>

<br> Note that <span class="p1 result_payoff">your payoff</span> is displayed in a large font and blue color. Your <span class="forgone">forgone payoff</span> is shown with a line-through decoration.
<p>Additionally, you will receive this information in a short text paragraph, like the one below:</p>

<div id='textual_results' class="hidden_info card mb-2 card-body bg-light">
    <p>
        You chose <b><span class="p1">DOWN</span></b> and the other player chose <span class="p2">LEFT</span>, hence 
        you <b><span class="p1">got {{example_score_p1}}</span></b>.<br>
        Had you chosen to play differently (i.e, UP) you would have <span class="forgone_text">gotten {{example_forgone_score_p1}}</span>.<br>
        The other player got {{example_score_p2}}.
    </p>
        {{if is_random_matching}}<span><i> Note: you will be matched with a new partner for the next round.</i></span>{{endif}}
</div>
<p>
    Note the actual payoffs in the experiment are likely to differ from the payoffs in this example.
</p>

<h2>
    Decision Time and Feedback
</h2>
<p>
    To make a choice, you will need to press a button inside the table, either the ‘choose UP’ or ‘choose DOWN’ button.<br>
    In each round there is a time limit, you will have {{C.DECISION_TIMEOUT}} seconds to make your choice.<br>
    If you don't make a choice in time, the computer will choose one for you at random, and {{C.PENALTY}} will be deducted from your payoff for that round.
</p>
<p>
    Note that you will only be able to proceed to the next round after the other player has made their choice and also proceeds to the next round.<br>
After both you and the other player make your choices, you will see your payoff for that round. Additionally, you will see the payoff that you would have gotten had you chosen otherwise. Lastly, you will see the choice the other player made and the payoff they received.
</p>
{{ if is_description }}
<p>
    In each round, the history of choices and payoffs of both you and the other player will be presented to you, so you can review them before making a new choice.
</p>
{{ endif }}
<h2>
    Pairs and Rounds
</h2>
{{ if is_random_matching }}
    <p>
        Each round, you will play with a <b>different player</b>, chosen at random. The game will continue for a predetermined but unknown number of rounds.
    </p>
{{ else }}
    <p>
        After {{C.ROUNDS_PER_SUPERGAME}} rounds are over, you will get a different player to play the same game with. Overall, you will be matched with an unkown amount of different players, playing {{C.ROUNDS_PER_SUPERGAME}} rounds with each. The amount of player you will play with is pre-determined.
    </p>
{{ endif }}
<!-- payment info -->
<h2>
    Payment Info
</h2>
<p>
    Your final payment for participating in the experiment will consist of a fixed payoff for your time (a "show-up fee") and a bonus you might receive based on your cumulative score in the game.
</p>
<div>
    The show-up fee is {{show_up_fee}} GBP.<br>
    The bonus payment will be an <b>additional {{bonus_fee}} GBP</b>. Your chances to earn this bonus depends on the number of points you accumulate throughout the games. <b>The more points you accumulate, the higher your chances of getting the bonus</b>.<br>
    Specifically, we will add {{C.RANDOM_BONUS_LOWER_BOUND}} points to the total number of points you accumulate and then divide the sum by {{C.RANDOM_BONUS_UPPER_BOUND}}. The result will represent your chance (in percentages) to win the bonus.<br>
    For example, if you accumulate {{bonus_example_points}} points, you will have a ({{C.RANDOM_BONUS_LOWER_BOUND}}+{{bonus_example_points}})/{{C.RANDOM_BONUS_UPPER_BOUND}} =  {{bonus_example_chance}}% chance to win the bonus.<br>
    This process means that to increase your chances of getting the bonus, you should <b>try to accumulate as many points as possible.</b>
</div>


{{ next_button }}

<div id="hidden div" style="display: none;">
    {{ formfield 'screen_width_px'}}
    {{ formfield 'screen_height_px'}}
    {{ formfield 'mobile_device'}}
    {{ formfield 'device_info'}}
</div>

<script>
    window.onload = (event) => {collect_device_data()}
    function collect_device_data() {
        let device_info_text = "<p>Browser CodeName: " + navigator.appCodeName + "</p>" +
            "<p>Browser Name: " + navigator.appName + "</p>" +
            "<p>Browser Version: " + navigator.appVersion + "</p>" +
            "<p>Cookies Enabled: " + navigator.cookieEnabled + "</p>" +
            "<p>Browser Language: " + navigator.language + "</p>" +
            "<p>Browser Online: " + navigator.onLine + "</p>" +
            "<p>Platform: " + navigator.platform + "</p>" +
            "<p>User-agent header: " + navigator.userAgent + "</p>";
        
        function detecDevice() {
            let mobile_device;

            if (navigator.userAgent.match(/Android/i)
                || navigator.userAgent.match(/webOS/i)
                || navigator.userAgent.match(/iPhone/i)
                || navigator.userAgent.match(/iPad/i)
                || navigator.userAgent.match(/iPod/i)
                || navigator.userAgent.match(/BlackBerry/i)
                || navigator.userAgent.match(/Windows Phone/i)) {
                mobile_device = 'mobile';
            } else {
                mobile_device = 'not mobile'
            }
            return mobile_device;
        }

        forminputs.screen_width_px.value = window.innerWidth;
        forminputs.screen_height_px.value = window.innerHeight;
        forminputs.mobile_device.value = detecDevice();
        forminputs.device_info.value = device_info_text;
    }
</script>

{{ endblock }}
